
  .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    font-size: 25px;

    cursor: pointer;
    color: white;
  }
  
  .menu-item:last-child {
    margin-bottom: 0;
  }
  
  .icon {
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .text {
    flex: 1;
  }
  
  .arrow {
    color: gray;
  }
  